.centered_box.schedule
	h2 Our openning hours
		table.table.table-dark.table-striped
			thead
				tr
					th(scope="col") Days
					th(scope="col") First service
					th(scope="col") Second service

			tbody
				tr
					th(scope="row") Monday
						td Closed
						td Closed
				tr
					th(scope="row") Tuesday
						td 1.30pm to 4.30pm
						td 7.30pm to 10pm
				tr
					th(scope="row") Wednesday
						td 1.30pm to 4.30pm
						td 7.30pm to 10pm
				tr
					th(scope="row") Thursday
						td 1.30pm to 4.30pm
						td 7.30pm to 10pm
				tr
					th(scope="row") Friday
						td 1.30pm to 4.30pm
						td 7.30pm to 10pm
				tr
					th(scope="row") Saturday
						td 1pm to 5pm
						td 6.30pm to 10.30pm
				tr
					th(scope="row") Sunday
						td 1pm to 5pm
						td 6.30pm to 10.30pm