.acordion_menus
	h3
		margin-bottom: 2%
	button
		font-size: 22px
		color: $main-text-color
	.badge
		width: 45px
	.card-header
		@include phone
			text-align: center
	.illustration
		margin-bottom: 2%
		height: auto
		.row
			figure
				height: 350px
				@include phone
					height: 210px
					text-align: center
				img
					object-fit: cover
					width: 100%
					height: 100%
					@include phone
						height: 70%
					border-radius: 6%
					margin-bottom: 2%
				figcaption
					margin-top: -2%
					margin-left: 3%
	.collapse
		background-color: whitesmoke