.centered_box.acordion_menus
	h2 Menus
	hr
	
	#accordion
		.card
			.card-header#headingOne
				h5.mb-0
					button.btn.btn-link(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Mountain's menu: Zakopiec
					.badge 19€
			.collapse#collapseOne(aria-labelledby="headingOne" data-parent="#accordion")
				.card-body
					.illustration
						.row
							figure.col-sm-12.col-md-12.col-lg-4
								img(src="/images/food/menu1/tatar.jpg", alt="")
								figcaption Entry
							figure.col-sm-12.col-md-12.col-lg-4
								img(src="/images/food/menu1/kotlet.jpg", alt="")
								figcaption Main Course
							figure.col-sm-12.col-md-12.col-lg-4
								img(src="/images/food/menu1/oscypek.jpg", alt="")
								figcaption Dessert
					h3 Description:
					ul
						li Entry: Traditional tatar steak
						li Main Course: Viennese cutlet
						li Dessert: Oscypki cheese
					h3 Ingredients:
					ul.list-group.list-group-flush
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
					h3 Allergens
					ul.list-group.list-group-flush
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio

		.card
			.card-header#headingTwo
				h5.mb-0
					button.btn.btn-link(data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") City-dweller's menu: Warszawka
					.badge 12€
			.collapse#collapseTwo(aria-labelledby="headingTwo" data-parent="#accordion")
				.card-body
					.illustration
						.row
							figure.col-sm-12.col-md-12.col-lg-4
								img(src="/images/food/menu2/herring.jpg", alt="")
								figcaption Entry
							figure.col-sm-12.col-md-12.col-lg-4
								img(src="/images/food/menu2/gulasz.jpg", alt="")
								figcaption Main Course
							figure.col-sm-12.col-md-12.col-lg-4
								img(src="/images/food/menu2/rurki.jpg", alt="")
								figcaption Dessert
					h3 Description:
					ul
						li Entry: Pickled herring
						li Main Course: Gulasz
						li Dessert: Cream rolls
					h3 Ingredients:
					ul.list-group.list-group-flush
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
					h3 Allergens
					ul.list-group.list-group-flush
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio

		.card
			.card-header#headingThree
				h5.mb-0
					button.btn.btn-link(data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree") Tourist's menu: Krakowiak
					.badge 24€
			.collapse#collapseThree(aria-labelledby="headingThree" data-parent="#accordion")
				.card-body
					.illustration
						.row
							figure.col-sm-12.col-md-12.col-lg-4
								img(src="/images/food/menu3/barszcz.jpg", alt="")
								figcaption Entry
							figure.col-sm-12.col-md-12.col-lg-4
								img(src="/images/food/menu3/pierogi.jpg", alt="")
								figcaption Main Course
							figure.col-sm-12.col-md-12.col-lg-4
								img(src="/images/food/menu3/cake.jpg", alt="")
								figcaption Dessert
					h3 Description:
					ul
						li Entry: Red barszcz
						li Main Course: Russian pierogi
						li Dessert: Yeast Cake
					h3 Ingredients:
					ul.list-group.list-group-flush
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
					h3 Allergens
					ul.list-group.list-group-flush
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio

		.card
			.card-header#headingFour
				h5.mb-0
					button.btn.btn-link(data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour") Ecologist's menu: Mazury
					.badge 24€
			.collapse#collapseFour(aria-labelledby="headingFour" data-parent="#accordion")
				.card-body
					.illustration
						.row
							figure.col-sm-12.col-md-12.col-lg-4
								img(src="/images/food/menu4/soup.jpg", alt="")
								figcaption Entry
							figure.col-sm-12.col-md-12.col-lg-4
								img(src="/images/food/menu4/golabki.jpg", alt="")
								figcaption Main Course
							figure.col-sm-12.col-md-12.col-lg-4
								img(src="/images/food/menu4/sernik.jpg", alt="")
								figcaption Dessert
					h3 Description:
					ul
						li Entry: Mushroom soup
						li Main Course: Gołąbki
						li Dessert: Sernik cake
					h3 Ingredients:
					ul.list-group.list-group-flush
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
					h3 Allergens
					ul.list-group.list-group-flush
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio
						li.list-group-item Cras justo odio