.acordion_menus
	h2 Menus list:
	#accordion
		.card
			.card-header#headingOne
				h5.mb-0
					button.btn.btn-link(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Menu n°1:
					.badge.badge-info 19€
			.collapse#collapseOne(aria-labelledby="headingOne" data-parent="#accordion")
				.card-body
					.illustration
						img(src="", alt="")
					h3 Description:
					h3 Ingredients:
						ul.list-group.list-group-flush
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
					h3 Allergens
						ul.list-group.list-group-flush
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio

		.card
			.card-header#headingTwo
				h5.mb-0
					button.btn.btn-link(data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") Menu n°2:
					.badge.badge-info 12€
			.collapse#collapseTwo(aria-labelledby="headingTwo" data-parent="#accordion")
				.card-body
					.illustration
						img(src="", alt="")
					h3 Description:
					h3 Ingredients:
						ul.list-group.list-group-flush
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
					h3 Allergens
						ul.list-group.list-group-flush
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio

		.card
			.card-header#headingThree
				h5.mb-0
					button.btn.btn-link(data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree") Menu n°3:
					.badge.badge-info 24€
			.collapse#collapseThree(aria-labelledby="headingThree" data-parent="#accordion")
				.card-body
					.illustration
						img(src="", alt="")
					h3 Description:
					h3 Ingredients:
						ul.list-group.list-group-flush
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
					h3 Allergens
						ul.list-group.list-group-flush
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio
							li.list-group-item Cras justo odio