.centered_box.article
	hgroup
		h2 Article:
		h2 Polish Cuisine Rediscovered
		h3 A Modern Take on Polish Food by Natalia Mętrak

	p.
		Poland’s food never had its moment in the spotlight – one that would establish it as something the international public could appreciate on a daily basis. Could all of that be changing with a new twist on Polish cuisine?
	p.
		There are the staples, of course: pierogi, pączki and Polish sausage are something many people have tried, although not always in the best possible version.
	p.
		I still remember watching a Top Chef episode where one of the competitors had to make a dish using Polish sausage and almost cried. There are many stereotypes that surround Polish food – people tend to think it’s quite heavy and meaty. Comfy? Possibly, yet not too varied or subtle. Fatty, brown, purely potato-based … even boring.
	p.
		However, in the last decade or so, there has been enormous development in Poland in terms of our interest in discovering, researching and promoting Polish culinary culture. We are finding out so much that its richness and complicated history can be overwhelming even for us – yet these revelations can also become empowering for Polish expats, who until now might have been unsure of the attractiveness of their culinary heritage.

	a(href="https://culture.pl/en/article/polish-cuisine-rediscovered", target="_blank") Link to the full article