h1, h2, h3, h4, h5, h6, nav.menu {
  font-family: "Roboto", sans-serif;
  color: #0f0b0b;
  font-weight: 500; }

h1 {
  font-size: 64px; }
  @media (max-width: 600px) {
    h1 {
      font-size: 32px; } }

h2 {
  font-size: 42px; }
  @media (max-width: 600px) {
    h2 {
      font-size: 28px; } }

h3 {
  font-size: 36px; }
  @media (max-width: 600px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-size: 32px; }
  @media (max-width: 600px) {
    h4 {
      font-size: 20px; } }

h5 {
  font-size: 24px; }
  @media (max-width: 600px) {
    h5 {
      font-size: 18px; } }

h6 {
  font-size: 20px; }
  @media (max-width: 600px) {
    h6 {
      font-size: 16px; } }

nav.menu ul li a {
  font-size: 20px;
  color: #000; }

p, ul {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #1f1f1f;
  font-weight: 300; }
  @media (max-width: 600px) {
    p, ul {
      font-size: 16px; } }

label {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

.centered_box {
  display: inline-table;
  position: relative;
  padding: 5% 10%;
  width: 100%;
  background-color: #339966 !important; }
  @media (max-width: 600px) {
    .centered_box {
      padding: 3% 5%; } }
  @media (max-width: 1024px) {
    .centered_box {
      padding: 4% 10%; } }
  .centered_box:hover {
    border: 5px solid #ff6666 !important;
    background-color: #42c081 !important; }

.fullWidth_Box {
  display: inline-table;
  position: relative;
  width: 100%;
  background-color: #9966ff !important; }
  .fullWidth_Box:hover {
    border: 5px solid #c8c637 !important;
    background-color: #b294ee !important; }

* {
  margin: 0;
  box-sizing: border-box; }

body, html {
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden; }

.row {
  margin-bottom: 2%; }

.jumbotron.jumbotron-fluid {
  text-align: center;
  height: 350px;
  background-image: url("../images/website/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill; }

nav {
  display: flex; }
  nav .collapse {
    justify-content: end !important; }
    nav .collapse ul li a.nav-link {
      color: #BBBBBB !important;
      text-align: right; }

footer {
  padding: 2% 2%;
  background-color: #0e1113; }
  footer a.address {
    color: #BBBBBB; }
  footer li a {
    color: #BBBBBB; }

.list_allergens h2 {
  text-align: center; }

.acordion_menus h3 {
  margin-bottom: 2%; }

.acordion_menus button {
  font-size: 22px; }

.acordion_menus .badge {
  width: 45px; }

@media (max-width: 600px) {
  .acordion_menus .card-header {
    text-align: center; } }

.acordion_menus .illustration {
  margin-bottom: 2%;
  height: auto; }
  .acordion_menus .illustration .row figure {
    height: 350px; }
    @media (max-width: 600px) {
      .acordion_menus .illustration .row figure {
        height: 210px;
        text-align: center; } }
    .acordion_menus .illustration .row figure img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 6%;
      margin-bottom: 2%; }
      @media (max-width: 600px) {
        .acordion_menus .illustration .row figure img {
          height: 70%; } }
    .acordion_menus .illustration .row figure figcaption {
      margin-left: 3%; }

.acordion_menus .collapse {
  background-color: whitesmoke; }
