.centered_Box.list_allergens
	h2 Allergens list:
	ul.list-group
		li.list-group-item Cereals containing gluten
		li.list-group-item Crustaceans
		li.list-group-item Eggs
		li.list-group-item Fish
		li.list-group-item Peanuts
		li.list-group-item Soybeans
		li.list-group-item Milk
		li.list-group-item Nuts
		li.list-group-item Celery
		li.list-group-item Mustard
		li.list-group-item Sesame seeds
		li.list-group-item Sulphur dioxide and sulphites
		li.list-group-item Lupin
		li.list-group-item Molluscs