include ../components/essentials/head
body
	main
		include ../components/essentials/navbar
		include ../components/jumbotron/jumbotron
		.container-fluid
			.row
				.col-12
					include ../components/textblocks/description
			.row
				.col-sm-12.col-md-6.col-lg-6
					include ../components/map/map
				.col-sm-12.col-md-6.col-lg-6
					include ../components/schedule/schedule

		include ../components/essentials/footer