include ../components/essentials/head
body
	main
		include ../components/essentials/navbar
		include ../components/jumbotron/jumbotron
		.container-fluid
			.row
				include ../components/textblocks/description
			.row
				.col-6
					include ../components/map/map
				.col-6
					include ../components/schedule/schedule
		
		include ../components/essentials/footer