include ../components/essentials/head
body
	main
		include ../components/essentials/navbar
		include ../components/jumbotron/jumbotron
		.container-fluid
			include ../components/form/form
		
		include ../components/essentials/footer