include ../components/essentials/head
body
	main
		include ../components/essentials/navbar
		include ../components/jumbotron/jumbotron
		.container-fluid
			.row
				.col-12
					include ../components/textblocks/description
			.row
				.col-12
					include ../components/articles/article_1

		include ../components/essentials/footer