include ../components/essentials/head
body
	main
		include ../components/essentials/navbar
		include ../components/jumbotron/jumbotron
		.container-fluid
			h1 THIS IS THE NEWS US PAGE
			include ../components/articles/article_1
		
		include ../components/essentials/footer