.centered_box.textblock
	h2 About us:
		p.
			NaZdrowie is a new polish restaurant. Even more, it's a unique place. You will find all the polish traditions but with a modern twist: modern dishes, proffesional service and a wonderfull cosy building.
		p.
			So if you are a true pole or just an intriged person, come and visit us at our Bruxelles restaurant. You can contact us by the contact form on our website or by calling the 000 00 00 00.
		p.
			The openning hours are described in a schedule wich you can find just bellow.