.centered_box.gallery
	h2 Take a look
	hr

	.box
		.row
			.col-lg-4
				img(src="/images/gallery/1.jpg", alt="Picture of a meal")
			.col-lg-4
				img(src="/images/gallery/3.jpg", alt="Picture of wine and glass")
			.col-lg-4
				img(src="/images/gallery/2.jpg", alt="Picture of a meal")
		.row
			.col-lg-4
				img(src="/images/gallery/6.jpg", alt="Picture of customers")
			.col-lg-4
				img(src="/images/gallery/5.jpg", alt="Picture of a polish landscape")
			.col-lg-4
				img(src="/images/gallery/9.jpg", alt="Picture of customers")
		.row
			.col-lg-4
				img(src="/images/gallery/7.jpg", alt="Picture of zubrowka vodka")
			.col-lg-4
				img(src="/images/gallery/8.jpg", alt="Picture of a chief")
			.col-lg-4
				img(src="/images/gallery/4.jpg", alt="Picture of an outdoor table")