.centered_box.gallery
	h2 Take a look
	hr

	.box
		.row
			.col-lg-4
				img(src="/images/gallery/1.jpg", alt="")
			.col-lg-4
				img(src="/images/gallery/3.jpg", alt="")
			.col-lg-4
				img(src="/images/gallery/2.jpg", alt="")
		.row
			.col-lg-4
				img(src="/images/gallery/6.jpg", alt="")
			.col-lg-4
				img(src="/images/gallery/5.jpg", alt="")
			.col-lg-4
				img(src="/images/gallery/9.jpg", alt="")
		.row
			.col-lg-4
				img(src="/images/gallery/7.jpg", alt="")
			.col-lg-4
				img(src="/images/gallery/8.jpg", alt="")
			.col-lg-4
				img(src="/images/gallery/4.jpg", alt="")