footer.footer
	.row
		.col-sm-12.col-md-4.col-lg-4
			.list
				a.address(href="") <b>Tatry Restaurant</b><br>
				a.address(href="https://g.page/funerailles-tilmant?share", target="_blank") 1000 Bruxelles, Avenue Louise 130, Belgique

				ul
					li
						a(href='tel:010000000')
							i(class="fas fa-phone")
							span  010 00 00 00
					li
						a(href='tel:+32475000000')
							i(class="fas fa-phone")
							span  +32 475 00 00 00
					li
						a(href='mailto:i.kopincki@tatry.be')
							i(class="fas fa-envelope")
							span  m.kruk@tatry.be
		.col-sm-12.col-md-4.col-lg-4
			.list
				ul
					li
						a(href='/') Home
					li
						a(href='/food') Food
					li
						a(href='/news') News
					li
						a(href='/contact') Contact
		.col-sm-12.col-md-4.col-lg-4
			.list
				ul
					li
						a(href='/terms-conditions') Terms and conditions
					li
						a(href='/privacy-policy') Privacy policy
				p.signature Created by Mathieu Kruk

		include ../chatbot/chatbot