footer
	.list
		a.address(href="") <b>Wepka</b>
		a.address(href="https://g.page/funerailles-tilmant?share", target="_blank") 1390 Grez-Doiceau<br>Belgique
		ul
			li
				a(href='tel:010843034')
					i(class="fas fa-phone")
					span 010 84 30 34
			li
				a(href='tel:+32475389729')
					i(class="fas fa-phone")
					span +32 475 38 97 29
			li
				a(href='mailto:k.depauw@wepka.be')
					i(class="fas fa-envelope")
					span k.depauw@wepka.be
	.list
		ul
			li
				a(href='/') Accueil
			li
				a(href='/products/') Produits
			li
				a(href='/projects/') Projets
			li
				a(href='/contact/') Contact
	.list
		ul
			li
				a(href='/conditions-generales') Conditions générales
			li
				a(href='/politiques-de-confidentalite') Politiques de confidentalité