head
	//- METAS
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")

	//- STYLING
	//- Css
	link(href="/css/style.css", rel="stylesheet")
	//- Font Awesome
	link(rel='stylesheet', href='/css/font-awesome.min.css')
	//- Google Fonts
	link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet")
	
	//- SCRIPTS
	//- Javascript
	script(src="/js/scripts.js")
	//- Jquery
	script(src="https://code.jquery.com/jquery-3.4.1.min.js")
	//- Google Maps API
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBWCJM6PXMxlolVfBaOwQtpXbQ1PUa5pNQ')
	
	//- WEBSITE
	title Tatry Restaurant
	link(rel='icon' href='/images/logo.png')

doctype=html