//- nav.navbar.navbar-dark.bg-dark
//- 	a.navbar-brand Tatry Restaurant
//- 	button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
//- 	.collapse.navbar-collapse
//- 		ul.navbar-nav.mr-auto#navbarSupportedContent
//- 			li.nav-item
//- 				a.nav-link(href='/') Home
//- 			li.nav-item
//- 				a(href='/food') Food
//- 			li.nav-item
//- 				a(href='/news') News
//- 			li.nav-item
//- 				a(href='/gallery') Gallery
//- 			li.nav-item
//- 				a(href='/about') About us
//- 			li.nav-item
//- 				a(href='/contact') Contact

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
	a.navbar-brand(href="#") Tatry Restaurant
	button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
		span.navbar-toggler-icon

	.collapse.navbar-collapse#navbarSupportedContent
	ul.navbar-nav.mr-auto
		li.nav-item
			a.nav-link(href="/") Home
		li.nav-item
			a.nav-link(href="/food") Food
		li.nav-item
			a.nav-link(href="/news") News
		li.nav-item
			a.nav-link(href="/gallery") Gallery
		li.nav-item
			a.nav-link(href="/about") About us
		li.nav-item
			a.nav-link(href="/contact") Contact
